<head>
  <meta charset="utf-8">
  <title>Yogini History</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body data-spy="scroll" data-offset="64" data-target="#section-topbar">
<header class="mb-5">
  <nav class="m-4">
      <ul class="text-align-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "レッスン", lessons_path %></li>
          <li><%= link_to "受講履歴", yogas_path %></li>
      </ul>
  </nav>
</header>