<div class="m-3">
    <table class="table mb-5 d-flex　w-100 font-weight-normal">
        <thead>
            <tr class="">
                <th scope="col">Id</th>
                <th scope="col">User</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                <th scope="col">Profile</th>
                <th scope="col">Destroy</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |u| %>
                <tr>
                    <td><%= u.id %></td>
                    <td><%= u.name %></td>
                    <td><%= u.password %></td>
                    <td><%= u.email %></td>
                    <td><a href="#">View Profile</a></td>
                    <td><button type="button" class="btn btn-danger">X</button></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <a href="#">Create new user</a>
</div>