<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Yogini History</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
</head>
<body data-spy="scroll" data-offset="64" data-target="#section-topbar">
  <div class="row">
    <div class="col-12">
      <div class="text-center my-5">
        <h2 class="font-weight-bold">Please confirm</h2>
      </div>
      <%= render 'form_confirm' %>
    </div>
  </div>
</body>
</html>